<nav class="bottom-nav">
  <ul class="bottom-nav__list">
    @for (item of navItems; track item.link) {
      <li class="bottom-nav__item" routerLinkActive="bottom-nav__item--active">
        <a [routerLink]="item.link" class="bottom-nav__link">
          <app-icon
            [icon]="item.icon"
            [size]="32"
            [className]="'bottom-nav__icon'"
            [ariaHidden]="true"
          />
          <span class="bottom-nav__text">{{ item.label }}</span>
        </a>
      </li>
    }
  </ul>
</nav>
