<app-product-image-preview />

@for (i of [].constructor(10); track i) {
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid at fugit
    magnam omnis quae quibusdam ut velit voluptates? Beatae deserunt,
    exercitationem fuga iusto nulla praesentium qui quo quod repellendus
    sapiente sequi veritatis vitae voluptatibus. Ab accusamus ad delectus,
    distinctio eveniet ex iure iusto obcaecati quidem, quos recusandae,
    repellat. Accusantium cupiditate delectus dolorem doloribus, eaque expedita
    id itaque laudantium magnam magni maxime natus nulla odit pariatur
    perferendis quis, sed suscipit tenetur ullam voluptate. Dicta eius fugit
    ipsam magnam perspiciatis quaerat ratione totam voluptatibus! A commodi
    consequatur eum fuga non possimus saepe. Ab accusamus cupiditate eveniet, in
    ipsum maiores nam natus ratione!
  </p>
}
