<div>
  <ngx-skeleton-loader
    count="1"
    [theme]="{ height: '20px', width: '100%', 'margin-bottom': '10px' }"
  />
  <ngx-skeleton-loader
    count="1"
    [theme]="{ height: '16px', width: '80%', 'margin-bottom': '10px' }"
  />
  <ngx-skeleton-loader
    count="1"
    [theme]="{ height: '24px', width: '65%', 'margin-bottom': '12px' }"
  />
  <ngx-skeleton-loader
    count="1"
    [theme]="{ height: '16px', width: '75%', 'margin-bottom': '8px' }"
  />
  <ngx-skeleton-loader count="1" [theme]="{ height: '14px', width: '50%' }" />
</div>
