<table class="product-info-tabs__table">
  <tr>
    <td class="product-info-tabs__cell product-info-tabs__cell_label">
      Тип ТС
    </td>
    <td class="product-info-tabs__cell">
      грузовые автомобили, автобусы, сельхозтехника
    </td>
  </tr>
  <tr>
    <td class="product-info-tabs__cell product-info-tabs__cell_label">
      Применяемость
    </td>
    <td class="product-info-tabs__cell">
      КАМАЗ, ЛИАЗ, CASE с дв. CUMMINS ISBe/ISDe
    </td>
  </tr>
  <tr>
    <td class="product-info-tabs__cell product-info-tabs__cell_label">
      Марка ТС
    </td>
    <td class="product-info-tabs__cell">КАМАЗ, ЛИАЗ, CASE</td>
  </tr>
  <tr>
    <td class="product-info-tabs__cell product-info-tabs__cell_label">
      КроссКоды
    </td>
    <td class="product-info-tabs__cell">
      FC6206, WK950/3, 110-16-008, 6127, FF185M, 1457434180, KC28, KF3041
    </td>
  </tr>
  <tr>
    <td class="product-info-tabs__cell product-info-tabs__cell_label">
      Состав комплекта
    </td>
    <td class="product-info-tabs__cell">Фильтр очистки топлива: 1 шт.</td>
  </tr>
  <tr>
    <td class="product-info-tabs__cell product-info-tabs__cell_label">
      Модель двигателя
    </td>
    <td class="product-info-tabs__cell">Cummins ISD 6.7, Cummins ISB 6.7</td>
  </tr>
  <tr>
    <td class="product-info-tabs__cell product-info-tabs__cell_label">
      Марка двигателя
    </td>
    <td class="product-info-tabs__cell">Cummins Inc.</td>
  </tr>
  <tr>
    <td class="product-info-tabs__cell product-info-tabs__cell_label">
      Доп. информация
    </td>
    <td class="product-info-tabs__cell">-</td>
  </tr>
</table>
