/* You can add global styles to this file, and also import other style files */
@import 'normalize.css';
@import "@fontsource/inter/index.css";
@import '@fontsource/nunito/400.css';
@import 'swiper/swiper-bundle.min.css';

html {
  font-family: "Inter", sans-serif;
}

.pointer{
  cursor: pointer;
}


.Line{
   outline: solid 3px green;

  & * {
    outline: solid 1px red;
  }

  & > * {
    outline: solid 2px orange;
  }
}


[hidden] {
  display: none !important;
}
